.navbar-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.nav-item-en {
  font-size: 1.25em;
  color: #487fff;
  text-transform: uppercase;
}

.nav-item {
  text-align: center;
}

.nav-item-ka {
  font-size: 1em;
  color: #666666;
}

.page-content {
  margin-top: 100px;
}

.display-control {
  display: none;
}
