@font-face {
	font-family: "Ek Mukta";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Mukta-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "Ek Mukta";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Mukta-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "Ek Mukta";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Mukta-Regular.ttf") format("ttf");
}

