<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <!--<div class="wrapper">-->
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/javascript/jquery.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/javascript/bootstrap-switch.js"></script>
    <script type="text/javascript">
    /*$('.switch-language').bootstrapSwitch();*/
    $('.switch-language').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      $('.display-english').toggleClass('display-control');
      $('.display-kannada').toggleClass('display-control');
    });
    </script>

  </body>

</html>
